<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @product_configuration.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_configuration.size %>
</p>

<p>
  <strong>Cogs:</strong>
  <%= @product_configuration.cogs %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_configuration.product %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product_configuration.sku %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product_configuration.image_url %>
</p>

<%= link_to 'Edit', edit_product_configuration_path(@product_configuration) %> |
<%= link_to 'Back', product_configurations_path %>
