<%= simple_form_for(@work_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :worker %>
    <%= f.input :status %>
    <%= f.association :product_configuration %>
    <%= f.association :purchase_order %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
