<%= simple_form_for(@material) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :unit %>
    <%= f.input :internal_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
